[tool.irt.module_set]
path="sets/public.yml"

[tool.irt.dependencies.additional-python-dependencies]
inmanta-core = "https://github.com/inmanta/inmanta-core"

[tool.irt.dependencies.npm]
dashboard = { "repo" = "https://github.com/inmanta/inmanta-dashboard", "version" = "~=3.6.0.0rc" }

[tool.irt.build.rpm]
enable_repo = {"el7" = ["epel"], "el8" = []}

[tool.irt.publish.python]
public = true

[tool.irt.publish.rpm]
rpm_repo_name_prefix = "inmanta/oss"

[tool.irt.additional-lock-files]
inmanta-core = {"repo" = "https://github.com/inmanta/inmanta-core", "files" = ["requirements.txt", "requirements.setup.txt"]}

[tool.irt.documentation]
documentation_repo = "https://github.com/inmanta/inmanta-core.git"

[tool.irt.documentation.publish]
dev_release_path = "/srv/www/docs/community/{version}.dev"
stable_release_path = "/srv/www/docs/community/{version}"
post_publish_hook_remote = "~/post_publish_hook.py"

