[tool.irt.dependencies.python]
inmanta-core = "https://github.com/inmanta/inmanta-core"

[tool.irt.dependencies.npm]
dashboard = { "repo" = "https://github.com/inmanta/inmanta-dashboard", "version" = "master" }

[tool.irt.build.rpm]
enable_repo = {"el7" = ["epel"], "el8" = []}

[tool.irt.publish.python]
public = true

[tool.irt.publish.rpm]
rpm_repo_name_prefix = "inmanta/oss"

[tool.irt.additional-lock-files]
inmanta-core = {"repo" = "https://github.com/inmanta/inmanta-core", "path" = "requirements.txt"}
