# build dependencies collected from (in a bare venv (don't use virtualenvmanager):
# pip download --no-build-isolation --check-build-dependencies --no-binary inmanta-service-orchestrator,inmanta-core,inmanta-support --only-binary inmanta-license,inmanta-lsm .
wheel
